.homePage{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 4.15rem;
    width:87vw;
    height: 100vh;
    /* background: url('../../../images/bg.jpg'); */
    background-size: cover;
}

.header{
    height: 4rem;
    background-color: rgb(10, 78, 204);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
}